<div class="auth-main">
  <div class="auth-wrapper v3 row justify-content-between align-items-center">
    <!-- Registration Form Section -->
    <div class="auth-form col-lg-7 col-md-7 col-sm-12">
      <div class="card my-3 shadow-lg border-0 rounded-lg" style="max-width: 800px;">
        <div class="card-body p-5">
          <!-- Header -->
          <div class="text-center mb-4">
            <h2 class="text-primary mb-3 display-6"><strong>JOIN ABI-ZEER COMMUNITY</strong></h2>
            <p class="fs-5 text-muted">Fill in the information below to become a member</p>
            <hr />
          </div>

          <!-- Registration Form -->
          <form [formGroup]="registerForm">
            <div class="row mb-3">
              <div class="col-md-4">
                <div class="form-floating">
                  <input type="text" class="form-control " id="firstName" formControlName="firstName"
                    placeholder="First Name" />
                  <label for="firstName">First Name</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-floating">
                  <input type="text" class="form-control " id="lastName" formControlName="lastName"
                    placeholder="Last Name" />
                  <label for="lastName">Last Name</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-floating">

                  <input type="text" class="form-control " id="phoneNumber" formControlName="phoneNumber" #phonenumber
                    placeholder="Phone Number (09-***)" (change)="checkIfPhoneNumberExist(phonenumber.value)" />
                  <label for="phoneNumber">
                    <img src="assets/images/et.svg" alt="flag img" height="20" class="rounded-circle " />Phone Number

                  </label>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-4">
                <div class="form-floating">
                  <input type="email" class="form-control " id="email" formControlName="email"
                    placeholder="Email Address" />
                  <label for="email">Email Address</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-floating mb-3">

                  <select class="form-control" #category (change)="getMemberships(category.value)">
                    <option></option>
                    <option value=0>WEEKLY</option>
                    <option value=1>MONTHLY</option>
                    <option value=2>YEARLY</option>

                  </select>
                  <label for="email">Membership Category</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-floating">
                  <select class="form-control " formControlName="membershipType">
                    <option></option>
                    <option *ngFor="let item of memberships" [value]="item.id">{{ item.name }}</option>
                  </select>
                  <label for="membershipType">Membership Type</label>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-3">
                <div class="form-floating mb-3">

                  <select class="form-control" #country (change)="getRegions(country.value)" required>

                    <option></option>
                    <option value="ETHIOPIAN">ETHIOPIAN</option>
                    <option value="FOREIGN">FOREIGN</option>

                  </select>
                  <label for="floatingInput">Country Type</label>
                </div>

              </div>
              <div class="col-md-3">
                <div class="form-floating">
                  <select class="form-control " id="region" formControlName="RegionId">
                    <option value="00000000-0000-0000-0000-000000000000"></option>
                    <option *ngFor="let item of regions" [value]="item.id">{{ item.name }}</option>
                  </select>
                  <label for="region">Region</label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-floating">
                  <input type="text" class="form-control " id="zone" formControlName="Zone" placeholder="Zone" />
                  <label for="zone">Zone</label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-floating">
                  <input type="text" class="form-control " id="Woreda" formControlName="woreda" placeholder="Woreda" />
                  <label for="Woreda">Woreda</label>
                </div>
              </div>
            </div>

            <div class="d-grid mt-4">
              <button type="submit" [disabled]="!registerForm.valid" (click)="register()"
                class="btn btn-primary btn-lg  shadow-lg">Register</button>
            </div>
            <hr />
            <div class="text-left">
              <p>Already have an account? <button type="button" class="btn btn-link text-primary fw-bold"
                  (click)="loginasMember()">Login</button></p>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Membership Information Section -->
    <div class="col-md-4 col-sm-12">
      <div class="member-info text-center p-4 bg-light rounded-lg shadow-lg">
        <img src="../../../../../assets/logo-transparent.png" alt="Member Image" class="img-fluid bounce-image mb-4"
          style="max-height: 260px;">
        <h4 class="animated-heading text-primary">Welcome to ABI-ZEER COMMUNITY Membership!</h4>
        <p class="animated-paragraph text-muted mt-3">
          Join the ABI-ZEER COMMUNITY and gain access to resources, opportunities to connect, collaborate, and grow
          within a supportive professional network.
        </p>
      </div>
    </div>
  </div>
</div>